@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin tablet {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mini {
  @media (max-width: #{$min-width - 1}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone-width - 1}) and (min-width: #{$min-width}) {
    @content;
  }
}