.lineselect {
  position: fixed;
  top: 0;
  left: 50vw;
  padding: .8rem;
  background-color: $color-primary-main;
  &__button {
    background-color: $color-primary-light;
    font-size: 4rem;
    line-height: 3rem;
    color: black;
    padding: 0;
    margin: 0;
    letter-spacing: -.1rem;
    vertical-align: top;
  }
  &__grey {
    opacity: .2;
  }
  &__submit {
    width: 100%;
    margin: 0;
  }
}