.translation {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100vw;
  margin: 1.5rem 0;
  &__text {
    font-size: 1.6rem;
    text-indent: 1.3rem;
    line-height: 2rem;
    margin: .5rem auto;
    background-color: $color-primary-light;
    width: 70vw;
    padding: .8rem;
    @include mini {
      line-height: 1.7rem;
      padding: .4rem;
    }
  }
  h2 {
    text-align: center;
    font-size: 2.5rem;
    text-indent: 0;
    margin: 1.5rem 0 .5rem 0;
  }
}